@{
  ViewData["Title"] = "About";
}

<div class="container mt-5">
  <h2 class="text-center">@ViewData["Title"]</h2>
  <h3 class="text-center text-secondary">@ViewData["Message"]</h3>
  <p class="lead text-center">
    The University of North Florida (UNF) faculty and staff listing includes a directory of faculty and staff members,
    as well as information about office location, phone, and photo.
  </p>
</div>

