@{
    ViewData["Title"] = "Contact";
}

<div class="container mt-5">
    <!-- Title Section -->
     <h2 class="text-center">@ViewData["Title"]</h2>
    <h3 class="text-center text-secondary">@ViewData["Message"]</h3>
    <!-- Contact Address -->
    <div class="mt-4">
      <h4>University Address</h4>
        <address>
          University of North Florida<br />
          School of Computing<br />
          1 UNF Drive,<br />
          Jacksonville, FL 32224<br />
          <abbr title="Phone">Phone:</abbr> 904.620.2985
         </address>
    </div>
    <!-- Support and Marketing Contacts -->
    <div class="mt-4">
      <h4>Contact Information</h4>
      <address>
        <strong>Support:</strong> <a href="mailto:computing@unf.edu">computing@unf.edu</a><br />
          <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
      </div>
</div>

