@model EmployeeAppManagement.Models.EmployeeViewModel

<div class="mt-5"></div>
<div class="card">
    <div class="card-header bg-primary text-white">Add Faculty</div>
    <div class="card-body">
        <form asp-action="AddFaculty" role="form">
            <div class="mb-3">
                <label asp-for="EmployeeId" class="form-label"></label>
                <input asp-for="EmployeeId" class="form-control" value="@ViewBag.NextEmployeeId" />
            </div>

            <div class="mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="OfficePhone" class="form-label"></label>
                <input asp-for="OfficePhone" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="PhotoURL" class="form-label"></label>
                <input asp-for="PhotoURL" class="form-control" />
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-success me-3" id="btn"   type="submit">Submit</button>
                
                <button id="btnCancel" class="btn btn-secondary me-2" type="button" onclick="window.location.href='@Url.Action("FacultyList", "Employee")';">Cancel</button>
            </div>
        </form>
    </div>
</div>

